body {
  background-color: white;
  color:black;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: #e84364 ;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

p>b{
  color: black;
}

textarea, input{
  width: 100%;
  border-radius: 0px;
  border: 2px solid #e84364;
  margin-bottom: 20px;
}

.posteo {
  color: #e84364;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid #e84364;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}



/* Estilos comentarios */
.ale{
  background-color: rgba(198, 17, 78, 0.8);
  margin: 10px 0;
  padding: 10px;
  font-size: 120%;
  border-radius: 10px;
}

.ale p{
  color: black
}

